#!/usr/bin/env bash

export ARM_CLIENT_ID="{{ azurerm_client_id }}"
export ARM_CLIENT_SECRET="{{ azurerm_client_secret }}"
export ARM_SUBSCRIPTION_ID="{{ azurerm_subscription_id }}"
export ARM_TENANT_ID="{{ azurerm_tenant_id }}"