---
plugin: cloud.terraform.terraform_state
backend_type: s3
backend_config:
  bucket: {{ bucket_name }}
  key: ansible/terraform.tfstate
  region: {{ aws_region }}
keyed_groups:
  - key: instance_state
    prefix: state
  - prefix: tag
    key: tags
groups:
  no_public_ip: public_ip == ""
