terraform {
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~> 5.0"
    }
  }
}

provider "aws" {
}

variable "child_ami_id" {
  type = string
}

variable "child_subnet_id" {
  type = string
}

variable "child_group_id" {
  type = string
}

resource "aws_instance" "test_tiny" {
  ami           = var.child_ami_id
  instance_type = "t3.micro"
  subnet_id = var.child_subnet_id
  vpc_security_group_ids = [var.child_group_id]

  tags = {
    Name = "{{ resource_prefix }}-another-ec2"
  }
}