name: CI
on:
  push:
    branches:
      - main
      - stable-*
  pull_request:
  schedule:
    - cron: '0 6 * * *'

jobs:
  linters:
    uses: ansible-network/github_actions/.github/workflows/tox-linters.yml@main
  galaxy_importer:
    uses: ansible-network/github_actions/.github/workflows/galaxy_importer.yml@main
  sanity:
    name: Sanity (Ⓐ${{ matrix.ansible }}+py${{ matrix.python }})
    strategy:
      matrix:
        ansible:
          - stable-2.13
          - stable-2.14
        python:
          - '3.8'
          - '3.9'
          - '3.10'
    runs-on: ubuntu-20.04
    steps:
      - name: Perform sanity testing
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          testing-type: sanity
          ansible-core-version: ${{ matrix.ansible }}
          target-python-version: ${{ matrix.python }}

  units:
    runs-on: ubuntu-20.04
    name: Units (Ⓐ${{ matrix.ansible }})
    strategy:
      fail-fast: true
      matrix:
        ansible:
          - stable-2.13
          - stable-2.14
    steps:
      - name: >-
          Perform unit testing against
          Ansible version ${{ matrix.ansible }}
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          ansible-core-version: ${{ matrix.ansible }}
          testing-type: units
          target-python-version: "3.10"
